In [ ]:
import pandas as pd

df = pd.read_csv(r"C:\Users\basil\OneDrive\Escritorio\Ironhack\projects\1st project\attacks.csv", encoding='latin-1')
df1 = pd.read_csv(r"C:\Users\basil\OneDrive\Escritorio\Ironhack\projects\1st project\list_coor_australia.csv", encoding='latin-1')

In [ ]:
for data in [df]: 
    display(df.info()) # quick summary of the data
    display(df.head()) # first rows
    display(df.tail()) # last rows

#df seems to have a lot of non-null values

In [ ]:
for data in [df1]: 
    display(df1.info()) # quick summary of the data
    display(df1.head()) # first rows
    display(df1.tail()) # last rows

#df1 seems to have a lot of non-null values

In [ ]:
#df seems to have a lot of non-null values. check only non-null values
df[df.isna().sum(axis=1)==df.shape[1]]

In [ ]:
df.dropna(how="all",inplace=True) 
df.info()

In [ ]:
display(df.head())
display(df.tail())

In [ ]:
df.isna().sum()

In [ ]:
# checking how many entirely duplicated rows are there
df.duplicated().sum()

In [ ]:
df[df.duplicated()]

In [ ]:
df.drop_duplicates(ignore_index=True,inplace=True) # droping the duplicates and reseting the indexes again
df

In [ ]:
df.isna().sum()

In [ ]:
df['Unnamed: 22'].value_counts()

In [ ]:
df['Unnamed: 23'].value_counts()

In [ ]:
df2 = df.copy()

In [ ]:
# drop the nan using Date as base
df2 = df2[~df2['Date'].isna()]
df2.isna().sum()

In [ ]:
df2

In [ ]:
df2.drop(['Unnamed: 22', 'Unnamed: 23'], axis=1, inplace=True)
df2.drop(['Case Number.1', 'Case Number.2'], axis=1, inplace=True)
df2

In [ ]:
df2 = df2.rename(columns={'Fatal (Y/N)':'Fatal'})

In [ ]:
df2['Type'].value_counts()

In [ ]:
df2['Type'].value_counts(dropna=False)
df2['Type'].replace({"Boat": "Boating", "Boatomg" : "Boating" },inplace=True)
df2['Type'] = df2['Type'].fillna('Unprovoked')
df2['Type'].value_counts()

In [ ]:
df2['Country'].value_counts(dropna=False)

In [ ]:
df2['Area'].value_counts(dropna = False)

In [ ]:
df2['Activity'].value_counts(dropna = False)

In [ ]:
df2['Fatal'].value_counts(dropna = False)

In [ ]:
df2['Fatal'].replace({" N": "N", "M" : "N", "2017" : "UNKNOWN", "N": "N", "y" : "Y", "N " : "N" },inplace=True)
df2['Fatal'] = df2['Fatal'].fillna('UNKNOWN')
df2['Fatal'].value_counts()

In [ ]:
df2['Fatal'].unique()

In [ ]:
df2 = df2.rename(columns={'Sex ':'Sex'})
df2.columns

In [ ]:
df2['Sex'].value_counts(dropna = False)

In [ ]:
df2['Sex'].replace({"M ": "M", "N" : "M", "lli" : "M", ".": "M" },inplace=True)
df2['Sex'] = df2['Sex'].fillna('other')
df2['Sex'].value_counts()

In [ ]:
df2['Age'].value_counts(dropna = False)

In [ ]:
# Remove non-numeric values and convert to numeric data
df2['Age'] = pd.to_numeric(df2['Age'], errors='coerce')

# Fill missing values with the median
df2['Age'] = df2['Age'].fillna(df2['Age'].median())

# Convert the column to integers
df2['Age'] = df2['Age'].astype(int)

df2['Age'].unique()

In [ ]:
df2.dtypes

In [ ]:
df2['Year'] = df2['Year'].astype(str)
df2['Year'] = df2['Year'].str.extract(r'^(\d+)')
median_value = df2['Year'].median()
df2['Year'].fillna(median_value, inplace=True)

In [ ]:
df2['Year'].value_counts(dropna = False)
df2['Year'] = df2['Year'].replace({'500': '1500', '77': '1770', '5': '1500'})
df2['Year'] = df2['Year'].astype(int)

In [ ]:
df2['Year'].unique()

In [ ]:
# combine the info provided by the column Date and Year 
df3 = df2.copy()
df3['Year'].replace({0: 'Before 1900'}, inplace=True)
df3

In [ ]:
df3['Fatal'].unique()

In [ ]:
df3['Year'].value_counts()

In [ ]:
df3['Year'].unique()

In [ ]:
df3['Time'].value_counts().head()

In [ ]:
replacements = {
    'FATAL': r'^.*FATAL.*$',
    'Survived': r'^.*Survived.*$',
    'Foot bitten': r'^.*Foot bitten.*$',
    'No injury': r'^.*No injury.*$',
    'Leg bitten': r'\bLeg\b',
    'Ankle bitten': r'\bAnkle\b',
    'Wrist bitten': r'\bWrist\b',
    'Hand bitten': r'\bHand\b'
    # Add other replacements for body parts as needed
}
# Iterate through the replacements and apply them to the DataFrame
for replacement, pattern in replacements.items():
    df3['Injury'] = df3['Injury'].replace(to_replace=pattern, value=replacement, regex=True)
# Display the modified DataFrame
print(df3['Injury'].value_counts())
threshold = 10
activity_counts = df3['Injury'].value_counts()
rare_activities = activity_counts[activity_counts < threshold].index.tolist()
df3['Injury'].replace(rare_activities, 'Other', inplace=True)
df3['Injury'].value_counts()

In [ ]:
replace_dict = {
    'Hand bitten bitten': 'Upper extremity',
    'Arm bitten': 'Upper extremity',
    'Left arm bitten': 'Upper extremity',
    'Lacerations to right hand': 'Upper extremity',
    # Agrega las demás categorías de heridas de mano y brazos que desees combinar
    'Foot bitten': 'Lower extremity',
    'Left foot bitten': 'Lower extremity',
    'Right foot bitten': 'Lower extremity',
    'Ankle bitten bitten': 'Lower extremity',
    'Lacerations to right foot': 'Lower extremity',
    'Lacerations to left foot': 'Lower extremity',
    'Right calf bitten': 'Lower extremity',
    'Heel bitten': 'Lower extremity',
    'Left leg bitten': 'Lower extremity',
    'Leg bitten injured': 'Lower extremity',
    'Foot severed': 'Lower extremity',
    'Leg bitten lacerated': 'Lower extremity',
    'Right thigh bitten': 'Lower extremity',
    'Left calf bitten': 'Lower extremity',
    'Lacerations to leg': 'Lower extremity',
    'Legs bitten': 'Lower extremity',
    'Laceration to left foot': 'Lower extremity',
    'Lacerations to right leg': 'Lower extremity',
    'Lacerations to lower leg': 'Lower extremity',
    'Thigh lacerated': 'Lower extremity',
    'Leg bitten': 'Lower extremity',
    'Leg severed': 'Lower extremity',
    'Right leg bitten': 'Lower extremity',
    'Foot': 'Lower extremity',
    'Thigh bitten': 'Lower extremity',
    'Calf bitten': 'Lower extremity',
    'Minor injuries': 'Minor injury',
    'Lower etremity' : 'Lower extremity',
    'Lacerations to foot' : 'Lower extremity',
    'Lacerations to foot' : 'Lower extremity',
    'Leg bitten severed' : 'Lower extremity',
    'Foot lacerated' : 'Lower extremity',
    'Leg bitten bitten' : 'Lower extremity'
    # Agrega las demás categorías de heridas de pies y piernas que desees combinar
}

df3['Injury'] = df3['Injury'].replace(replace_dict)
df3['Injury'].value_counts()

In [ ]:
replacements = {
    'Surfing': r'^.*Surfing.*$',
    'Swimming': r'^.*Swimming.*$',
    'Fishing': r'^.*Fishing.*$',
    'Bathing': r'^.*Bathing.*$',
    'Diving': r'^.*Diving.*$',
    'Wading': r'^.*Wading.*$',
    'Standing': r'^.*Standing.*$',
    'Snorkeling': r'^.*Snorkeling.*$',
    'Swimming': r'^.*Swimming.*$',
    'Kayaking': r'^.*Kayaking.*$',
    'Fell overboard': r'^.*Fell overboard.*$',
    'Walking': r'^.*Walking.*$',
    'Floating': r'^.*Floating.*$',
    # Add other replacements for body parts as needed
}
# Iterate through the replacements and apply them to the DataFrame
for replacement, pattern in replacements.items():
    df3['Activity'] = df3['Activity'].replace(to_replace=pattern, value=replacement, regex=True)
# Display the modified DataFrame
df3['Activity'].value_counts()

In [ ]:
category_mapping = {
    'Surfing': 'Water Sports',
    'Swimming': 'Water Sports',
    'Fishing': 'Water Activities',
    'Diving': 'Water Activities',
    'Wading': 'Water Activities',
    'Standing': 'Stationary',
    'Boarding': 'Water Activities',
    'Snorkeling': 'Water Activities',
    'Fell overboard': 'Accidents',
    'Boating': 'Water Activities',
    'Treading water': 'Water Activities',
    'Free diving': 'Water Activities',
    'Walking': 'Land Activities',
    'Surf-skiing': 'Water Sports',
    'Rowing': 'Water Activities',
    'Other': 'Other'
}
# Reemplazar categorías en el DataFrame usando un diccionario
df3['Activity'] = df3['Activity'].map(category_mapping)
# Contar el número en cada categoría
activity_counts = df3['Activity'].value_counts()
print(activity_counts)

In [ ]:
df3= df3.rename(columns={'Species ':'Species'})
df3.columns

In [ ]:
df3['Species'].value_counts()

In [ ]:
# Reemplazar valores nulos con 'Unknown'
df3['Species'].fillna('Unknown', inplace=True)

# Convertir todos los valores a minúsculas para facilitar la comparación
df3['Species'] = df3['Species'].str.lower()

# Función para limpiar y categorizar las especies
def clean_species(species):
    # Puedes agregar más lógica según tus necesidades
    if 'white' in species:
        return 'White Shark'
    elif 'bull' in species:
        return 'Bull Shark'
    elif 'tiger' in species:
        return 'Tiger Shark'
    else:
        return 'Other Shark'

# Aplicar la función a la columna 'Species' para crear una nueva columna 'Cleaned_Species'
df3['Cleaned_Species'] = df3['Species'].apply(clean_species)

# Mostrar el DataFrame resultante
print(df3[['Species', 'Cleaned_Species']])

In [ ]:
df3.drop(columns=['Species'], inplace=True)
df3.rename(columns={'Cleaned_Species': 'Species'}, inplace=True)
df3['Species'].value_counts()

In [ ]:
df3['Country'].unique()

In [ ]:
# Crear un diccionario que mapea países a continentes
country_continent_mapping = {
    'USA': 'North America',
    'AUSTRALIA': 'Australia',
    'MEXICO': 'North America',
    'BRAZIL': 'South America',
    'ENGLAND': 'Europe',
    'SOUTH AFRICA': 'Africa',
    'THAILAND': 'Asia',
    'COSTA RICA': 'North America',
    'MALDIVES': 'Asia',
    'BAHAMAS': 'North America',
    'NEW CALEDONIA': 'Oceania',
    'ECUADOR': 'South America',
    'MALAYSIA': 'Asia',
    'LIBYA': 'Africa',
    'CUBA': 'North America',
    'MAURITIUS': 'Africa',
    'NEW ZEALAND': 'Oceania',
    'SPAIN': 'Europe',
    'SAMOA': 'Oceania',
    'SOLOMON ISLANDS': 'Oceania',
    'JAPAN': 'Asia',
    'EGYPT': 'Africa',
    'ST HELENA, British overseas territory': 'Africa',
    'COMOROS': 'Africa',
    'REUNION': 'Africa',
    'FRENCH POLYNESIA': 'Oceania',
    'UNITED KINGDOM': 'Europe',
    'UNITED ARAB EMIRATES': 'Asia',
    'PHILIPPINES': 'Asia',
    'INDONESIA': 'Asia',
    'CHINA': 'Asia',
    'COLUMBIA': 'South America',
    'CAPE VERDE': 'Africa',
    'Fiji': 'Oceania',
    'DOMINICAN REPUBLIC': 'North America',
    'CAYMAN ISLANDS': 'North America',
    'ARUBA': 'North America',
    'MOZAMBIQUE': 'Africa',
    'FIJI': 'Oceania',
    'PUERTO RICO': 'North America',
    'ITALY': 'Europe',
    'ATLANTIC OCEAN': 'Unknown',
    'GREECE': 'Europe',
    'ST. MARTIN': 'North America',
    'FRANCE': 'Europe',
    'PAPUA NEW GUINEA': 'Oceania',
    'TRINIDAD & TOBAGO': 'North America',
    'KIRIBATI': 'Oceania',
    'ISRAEL': 'Asia',
    'DIEGO GARCIA': 'Asia',
    'TAIWAN': 'Asia',
    'JAMAICA': 'North America',
    'PALESTINIAN TERRITORIES': 'Asia',
    'GUAM': 'Oceania',
    'SEYCHELLES': 'Africa',
    'BELIZE': 'North America',
    'NIGERIA': 'Africa',
    'TONGA': 'Oceania',
    'SCOTLAND': 'Europe',
    'CANADA': 'North America',
    'CROATIA': 'Europe',
    'SAUDI ARABIA': 'Asia',
    'CHILE': 'South America',
    'ANTIGUA': 'North America',
    'KENYA': 'Africa',
    'RUSSIA': 'Europe',
    'TURKS & CAICOS': 'North America',
    'UNITED ARAB EMIRATES (UAE)': 'Asia',
    'AZORES': 'Europe',
    'SOUTH KOREA': 'Asia',
    'MALTA': 'Europe',
    'VIETNAM': 'Asia',
    'MADAGASCAR': 'Africa',
    'PANAMA': 'North America',
    'SOMALIA': 'Africa',
    'NEVIS': 'North America',
    'BRITISH VIRGIN ISLANDS': 'North America',
    'NORWAY': 'Europe',
    'SENEGAL': 'Africa',
    'YEMEN': 'Asia',
    'GULF OF ADEN': 'Asia',
    'Sierra Leone': 'Africa',
    'ST. MAARTIN': 'North America',
    'GRAND CAYMAN': 'North America',
    'Seychelles': 'Africa',
    'LIBERIA': 'Africa',
    'VANUATU': 'Oceania',
    'MEXICO ': 'North America',
    'HONDURAS': 'North America',
    'VENEZUELA': 'South America',
    'SRI LANKA': 'Asia',
    ' TONGA': 'Oceania',
    'URUGUAY': 'South America',
    'INDIA': 'Asia',
    'MICRONESIA': 'Oceania',
    'CARIBBEAN SEA': 'North America',
    'OKINAWA': 'Asia',
    'TANZANIA': 'Africa',
    'MARSHALL ISLANDS': 'Oceania',
    'EGYPT / ISRAEL': 'Asia',
    'NORTHERN ARABIAN SEA': 'Asia',
    'HONG KONG': 'Asia',
    'EL SALVADOR': 'North America',
    'ANGOLA': 'Africa',
    'BERMUDA': 'North America',
    'MONTENEGRO': 'Europe',
    'IRAN': 'Asia',
    'TUNISIA': 'Africa',
    'NAMIBIA': 'Africa',
    'NORTH ATLANTIC OCEAN': 'Unknown',
    'PORTUGAL': 'Europe',
    'SOUTH CHINA SEA': 'Asia',
    'BANGLADESH': 'Asia',
    'PALAU': 'Oceania',
    'WESTERN SAMOA': 'Oceania',
    'PACIFIC OCEAN ': 'Oceania',
    'BRITISH ISLES': 'Europe',
    'GRENADA': 'North America',
    'IRAQ': 'Asia',
    'TURKEY': 'Europe',
    'SINGAPORE': 'Asia',
    'NEW BRITAIN': 'Oceania',
    'SUDAN': 'Africa',
    'JOHNSTON ISLAND': 'Oceania',
    'SOUTH PACIFIC OCEAN': 'Oceania',
    'NEW GUINEA': 'Oceania',
    'RED SEA': 'Africa',
    'NORTH PACIFIC OCEAN': 'Oceania',
    'FEDERATED STATES OF MICRONESIA': 'Oceania',
    'MID ATLANTIC OCEAN': 'Oceania',
    'ADMIRALTY ISLANDS': 'Oceania',
    'BRITISH WEST INDIES': 'North America',
    'SOUTH ATLANTIC OCEAN': 'South America',
    'PERSIAN GULF': 'Asia',
    'RED SEA / INDIAN OCEAN': 'Africa',
    'PACIFIC OCEAN': 'Oceania',
    'NORTH SEA': 'Europe',
    'NICARAGUA ': 'North America',
    'MALDIVE ISLANDS': 'Asia',
    'AMERICAN SAMOA': 'Oceania',
    'ANDAMAN / NICOBAR ISLANDAS': 'Asia',
    'GABON': 'Africa',
    'MAYOTTE': 'Africa',
    'NORTH ATLANTIC OCEAN ': 'North America',
    'THE BALKANS': 'Europe',
    'SUDAN?': 'Africa',
    'ARGENTINA': 'South America',
    'MARTINIQUE': 'North America',
    'INDIAN OCEAN': 'Oceania',
    'GUATEMALA': 'North America',
    'NETHERLANDS ANTILLES': 'North America',
    'NORTHERN MARIANA ISLANDS': 'Oceania',
    'IRAN / IRAQ': 'Asia',
    'JAVA': 'Asia',
    'SIERRA LEONE': 'Africa',
    ' PHILIPPINES': 'Asia',
    'NICARAGUA': 'North America',
    'CENTRAL PACIFIC': 'Oceania',
    'SOLOMON ISLANDS / VANUATU': 'Oceania',
    'SOUTHWEST PACIFIC OCEAN': 'Oceania',
    'BAY OF BENGAL': 'Asia',
    'MID-PACIFC OCEAN': 'Oceania',
    'SLOVENIA': 'Europe',
    'CURACAO': 'North America',
    'ICELAND': 'Europe',
    'ITALY / CROATIA': 'Europe',
    'BARBADOS': 'North America',
    'MONACO': 'Europe',
    'GUYANA': 'South America',
    'HAITI': 'North America',
    'SAN DOMINGO': 'North America',
    'IRELAND': 'Europe',
    'KUWAIT': 'Asia',
    'YEMEN ': 'Asia',
    'REUNION ISLAND': 'Africa',
    'FALKLAND ISLANDS': 'South America',
    'CRETE': 'Europe',
    'CYPRUS': 'Asia',
    'EGYPT ': 'Africa',
    'WEST INDIES': 'North America',
    'BURMA': 'Asia',
    'LEBANON': 'Asia',
    'PARAGUAY': 'South America',
    'BRITISH NEW GUINEA': 'Oceania',
    'CEYLON': 'Asia',
    'OCEAN': 'Unknown',
    'GEORGIA': 'Asia',
    'SYRIA': 'Asia',
    'TUVALU': 'Oceania',
    'INDIAN OCEAN?': 'Oceania',
    'GUINEA': 'Africa',
    'ANDAMAN ISLANDS': 'Asia',
    'EQUATORIAL GUINEA / CAMEROON': 'Africa',
    'COOK ISLANDS': 'Oceania',
    'TOBAGO': 'North America',
    'PERU': 'South America',
    'AFRICA': 'Africa',
    'ALGERIA' : 'Africa',
    'Coast of AFRICA' : 'Africa',
    'TASMAN SEA' : 'Oceania',
    'GHANA' : 'Africa',
'GREENLAND' : 'North America',
'MEDITERRANEAN SEA' : 'Unknown',
'SWEDEN' : 'Europe',
'ROATAN' : 'North America',
'Between PORTUGAL & INDIA' : 'Unknown',
'DJIBOUTI' : 'Africa',
'BAHREIN' : 'Asia',
'KOREA' : 'Asia',
'RED SEA' : 'Unknown',
'ASIA?' : 'Asia',
'CEYLON (SRI LANKA)' : 'Asia'
}

# Reemplazar categorías en el DataFrame usando un diccionario
df3['Country'] = df3['Country'].map(country_continent_mapping)
# Contar el número en cada categoría
country_counts = df3['Country'].value_counts()
print(country_counts)

In [ ]:
df3['Time'].unique()

In [ ]:
import re

df3['Time'] = df['Time'].fillna('Unknown')
df3['new_time'] = None
time_pattern = r'[0-9]{2}h[0-9]{2}'

# Loop through each row in the DataFrame
for row in range(len(df3)):
    try:
        time = re.search(time_pattern, df3.iat[row, df3.columns.get_loc('Time')]).group()
        df3.iat[row, df3.columns.get_loc('new_time')] = time
        # Extract hour from the time pattern and categorize
        hour = int(time.split('h')[0])
        if hour < 12:
            df3.at[row, 'new_time'] = 'Morning'
        elif hour < 18:
            df3.at[row, 'new_time'] = 'Afternoon'
        else:
            df3.at[row, 'new_time'] = 'Evening'
    except:
        df3.iat[row, df3.columns.get_loc('new_time')] = df3['Time'].iloc[row]

# Count occurrences of different time periods
bytime_count = df3['new_time'].value_counts().reset_index().rename(columns={'new_time': 'Count', 'index': 'Time'})
bytime_count.head()

In [ ]:
time_mapping = {
    'Evening': ['Evening', '"Evening"', '"Early evening"'],
    'Afternoon': ['Afternoon', 'Late afternoon', 'Early afternoon', 'Just before noon', 'Lunchtime',
                  'Mid afternoon', 'Daytime', 'Midday', 'Midday.', 'Mid-morning', 'After Dusk',
                  '2 hrs before sunset', '"After lunch"', '"shortly before dusk"', '1500', 'Late Afternoon',
                  'FATAL  (Wire netting installed at local beaches after this incident.)', 'Late afternon'],
    'Morning': ['Morning', 'Morning ', 'Early morning', 'Dawn', 'Morning', 'Late morning'],
    'Night': ['Night', 'Nightfall', 'night', 'Late night', 'Dark', '"Night"', 'After midnight',
              '30 minutes after 1992.07.08.a', 'Possibly same incident as 2000.08.21', 'Before daybreak',
              'Just before dawn'],
    'Unknown': ['Unknown', ' ', '--', '\xa0 ', 'X', '  ', ''],
    'Afternoon': ['Late Afternoon'],
    'Afternoon': ['9h00', 'Midday', '0830', 'P.M.', '8:04 pm'],
    'Afternoon': ['After noon', '1300', '1600', '15j45', '2 hours after Opperman', '1500'],
    'Evening': ['Just before sundown', 'Shortly after midnight', 'After Dusk', 'After midnight',
                   '2 hrs before sunset', '30 minutes after 1992.07.08.a', 'Possibly same incident as 2000.08.21'],
    'Morning': ['Early Morning', 'Early morning', 'Before daybreak'],
    'Evening': ['"Early evening"'],
    'Morning': ['Dawn', 'Just before dawn'],
    'Night': ['Midnight', 'Shortly after midnight'],
    'Night': ['Late night', 'Night', 'night'],
    'Evening': ['Dusk', 'dusk', 'After dusk', '"shortly before dusk"', '"After dark"'],
    'Unknown': ['--', ' ', '\xa0 ', 'X', '  ', '']
}
for category, times in time_mapping.items():
    df3['new_time'].replace(times, category, inplace=True)
time_counts = df3['new_time'].value_counts()
print(time_counts)

In [ ]:
threshold = 10
activity_counts = df3['new_time'].value_counts()
rare_activities = activity_counts[activity_counts < threshold].index.tolist()
df3['new_time'].replace(rare_activities, 'Unknown', inplace=True)
df3['new_time'].value_counts()

In [ ]:
df3['new_time'] = df3['new_time'].replace({"Late afternoon":"Afternoon","A.M.":"Morning","P.M.":"Evening", "Early morning":"Morning","Midday":"Afternoon"})
df3['new_time'].value_counts()

In [ ]:
df3['new_time'].value_counts()

In [ ]:
df4 = df3.copy()

In [ ]:
df4

In [ ]:
df4.drop(['Case Number', 'Date', 'Area', 'Location', 'Investigator or Source', 'pdf', 'href formula', 'href', 'original order', 'Time', 'Name'], axis=1, inplace=True)
df4.rename(columns={'new_time': 'Time'}, inplace=True)
df4

In [ ]:
!pip install matplotlib
!pip install seaborn

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import plotly.express as px

In [ ]:
plt.figure(figsize=(12, 8))
sns.countplot(data=df4, x='Sex')

plt.show()

In [ ]:
plt.figure(figsize=(12, 8))
sns.countplot(data=df4, x='Type')

plt.show()

In [ ]:
plt.figure(figsize=(12, 8))
sns.countplot(data=df4, x='Country')

plt.show()

In [ ]:
plt.figure(figsize=(12, 8))
sns.countplot(data=df4, x='Year')

plt.show()

In [ ]:
byYear_count = df4['Year'].value_counts().sort_values(ascending=False).head(10)

plt.figure(dpi=120)
sns.barplot(x=byYear_count.index, y=byYear_count.values, palette='Set2')
plt.title('Years with the Highest Number of Shark Attack Cases')
plt.xlabel('Year')
plt.ylabel('Count')
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.figure(figsize=(12, 8))
sns.countplot(data=df4, x='Fatal')

plt.show()

In [ ]:
plt.figure(figsize=(12, 8))
sns.countplot(data=df4, x='Species')

plt.show()

In [ ]:
sns.countplot(x ="Fatal" , hue = "Country", data = df4)
plt.show()

In [ ]:
sns.countplot(x ="Fatal" , hue = "Type", data = df4)
plt.show()

In [ ]:
sns.countplot(x ="Fatal" , hue = "Species", data = df4)
plt.show()

In [ ]:
sns.countplot(x ="Fatal" , hue = "Injury", data = df4)
plt.show()

In [ ]:
df4.info()

In [ ]:
numerical = df4.select_dtypes("number")
numerical

In [ ]:
categorical =df4.select_dtypes("object")
categorical

In [ ]:
df4['Fatal'].value_counts()

In [ ]:
df4['Fatal'].replace('UNKNOWN', 'U', inplace=True)

# EDA

In [ ]:
for col in df4.select_dtypes('object'):
    
    # Create a contingency table
    contingency_table = pd.crosstab(df4[col], df4['Fatal'])

    # Convert the values to percentages
    row_sums = contingency_table.sum(axis=1)
    col_sums = contingency_table.sum(axis=0)
    
    contingency_table["N"] = contingency_table["N"] / contingency_table["N"].sum() * 100
    contingency_table["Y"] = contingency_table["Y"] / contingency_table["Y"].sum() * 100
    contingency_table["U"] = contingency_table["U"] / contingency_table["U"].sum() * 100

    # Print the contingency table in percentage
    display(contingency_table)

Data Processing

In [ ]:
corr_matrix=data.corr(method='pearson', numeric_only=True)  # default
fig, ax = plt.subplots(figsize=(10, 8))
ax = sns.heatmap(corr_matrix, annot=True)
plt.show()

In [ ]:
df4.columns

In [ ]:
y = df4['Fatal']
X = df4.drop('Fatal', axis=1)

In [ ]:
X= pd.get_dummies(X, columns=['Type','Country','Time','Species', 'Activity', 'Injury', 'Sex'])
X

In [ ]:
pd.get_dummies(df4).corr()["Fatal_Y"].sort_values()

In [ ]:
pd.get_dummies(df4).corr()["Fatal_N"].sort_values()

In [ ]:
pd.get_dummies(df4).corr()["Fatal_U"].sort_values()

In [ ]:
from sklearn.model_selection import train_test_split

# Assuming you have X and y defined
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.linear_model import LogisticRegression

# Assuming you have X_train and y_train defined
classification = LogisticRegression(random_state=42) #, max_iter=1000
classification.fit(X_train, y_train)

# Now the model is trained and you can use it for predictions or evaluation

In [ ]:
classification.score(X_test, y_test)

In [ ]:
predictions = classification.predict(X_test)
predictions

In [ ]:
y_test_series = pd.Series(y_test)
value_counts = y_test_series.value_counts()

print(value_counts)

In [ ]:
predictions_ = classification.predict_proba(X_test)
predictions_

In [ ]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, predictions)

In [ ]:
cf_matrix = confusion_matrix(y_test, predictions, normalize='all')
sns.heatmap(cf_matrix, annot=True, xticklabels=["N", "Y", "U"], yticklabels=["N", "Y", "U"])

In [ ]:
!pip install imblearn

In [ ]:
from imblearn.over_sampling import RandomOverSampler
sampler = RandomOverSampler(random_state=42)
# only sample the training data (you don't want to test on repeated or made up rows):
X_train_balanced, y_train_balanced = sampler.fit_resample(X_train, y_train)
y_train_balanced.value_counts()

In [ ]:
classification = LogisticRegression(random_state=42)
classification.fit(X_train_balanced, y_train_balanced)
accuracy = classification.score(X_test, y_test)
print("Accuracy:", accuracy)

In [ ]:
predictions = classification.predict(X_test)
cf_matrix = confusion_matrix(y_test, predictions, normalize='all')
sns.heatmap(cf_matrix, annot=True, xticklabels=["N", "Y", "U"], yticklabels=["N", "Y", "U"])

In [ ]:
df4 = df4[df4['Fatal'].isin(['Y', 'N'])]
df4

In [ ]:
y = df4['Fatal']
X = df4.drop('Fatal', axis=1)

In [ ]:
X= pd.get_dummies(X, columns=['Type','Country','Time','Species', 'Activity', 'Injury', 'Sex'])
X

In [ ]:
pd.get_dummies(df4).corr()["Fatal_Y"].sort_values()

In [ ]:
pd.get_dummies(df4).corr()["Fatal_N"].sort_values()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)


classification = LogisticRegression(random_state=42)
classification.fit(X_train, y_train)

In [ ]:
classification.score(X_test, y_test)

In [ ]:
predictions = classification.predict(X_test)
predictions

In [ ]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, predictions)

In [ ]:
y_test_series = pd.Series(y_test)
value_counts = y_test_series.value_counts()

print(value_counts)

In [ ]:
predictions_ = classification.predict_proba(X_test)
predictions_

In [ ]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, predictions)

In [ ]:
cf_matrix = confusion_matrix(y_test, predictions, normalize='all')
sns.heatmap(cf_matrix, annot=True, xticklabels=["N", "Y"], yticklabels=["N", "Y"])

In [ ]:
from imblearn.over_sampling import RandomOverSampler
sampler = RandomOverSampler(random_state=42)
# only sample the training data (you don't want to test on repeated or made up rows):
X_train_balanced, y_train_balanced = sampler.fit_resample(X_train, y_train)
y_train_balanced.value_counts()